<nav class="navbar navbar-expand-lg navbar-dark netflix-navbar">
  <div class="container-fluid">
    <a class="navbar-brand netflix-logo" href="/">Cinéphoria</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">

        <!-- Lien simple de connexion -->
        <li class="nav-item">
          <a class="nav-link" href="/login">Se connecter</a>
        </li>

        <!-- Autres liens -->
        <li class="nav-item"><a class="nav-link" href="/reservation">Réservation</a></li>
        <li class="nav-item"><a class="nav-link" href="/films">Films</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
